main {
  overflow: hidden;
  height: 70%;
}

.videoPrincipal {
  position: relative;
  top: 6%;
  left: 16.5%;
  margin-right: 31.5%;
  margin-bottom: 10%;
}


.videoPrincipal iframe {
  position: absolute;
  border-radius: 10px;
}

.tablaComplementario {
  position: relative;
  top: 50%;
  left: 21.5%;
}

.tablaComplementario table, th, td {
  background-color: rgba(226, 162, 43, 0.212);
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
}

.tablaComplementario table {
  height: 200px;
  width: 500px;
  border-radius: 10px;
}

.tablaComplementario th {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.089);
}

.tablaComplementario td {
  height: 30px;
  text-align: center;
}

