.contenedorArticulos {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "primerPuesto", 
  "segundoPuesto" "tercerPuesto"
  "cuartoPuesto"
  ;

}

.articuloBurger:nth-child(1) {
  grid-area: primerPuesto;
}

.articuloBurger:nth-child(2) {
  grid-area: segundoPuesto;
}

.articuloBurger:nth-child(3) {
  grid-area: tercerPuesto;
}

.articuloBurger:nth-child(4) {
  grid-area: cuartoPuesto;
}