body {
  background: grey url("https://www.vmcdn.ca/f/files/halifaxtoday/images/outdoors/060420-cottage-dock-fishing-fish-sportfishing-adobestock_242597321.jpeg") no-repeat center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 1366px;
  width: 100%;
}

.navegacion {
  list-style: none;
  background-color: rgb(255, 153, 0);
  display: flex;
  justify-content: center;
  border-bottom: 2px solid grey;
}

.navegacion ul {
  list-style: none;
  display: inline-flex;
}

.navegacion li, .navegacion a {
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  color: black;
  word-spacing: 2px;
  cursor: pointer;
}

footer {
  background-color: rgb(0, 0, 0);
  width: auto;
  height: 29%;
  padding: 20px;
}

.newsletter {
  align-items: flex-start;
  float: left;
  width: 33%;
}

.newsletter legend {
  color: white;
}

.newsletter label {
  color: white;
}

.redes {
  align-items: center;
}

.contacto {
  color: white;
  float: right;
  width: 20%;
}
