$color-cuadro-primer-row: red;
$color-cuadro-segunda-row: rgb(4, 0, 255);
$color-cuadro-tercer-row: rgb(251, 255, 0);

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 250px;
  border-top: 5px dotted rgb(255, 0, 0);
  border-left: 5px dotted rgb(0, 17, 255);
  border-right: 5px dotted rgb(255, 251, 0);
  border-bottom: 5px dotted rgb(0, 255, 21);
  border-radius: 20px;
}

.tituloPrincipal {
  text-align: center;
  margin-bottom: 3.5%;
  h1 {
    display: inline-flex;
    background-color: rgba(128, 255, 0, 0.473);
    width: 80%;
    border-radius: 2px;
    color: azure;
    font-size: 25px;
    font-family: "Press Start 2P", cursive;
    float: inline-start;
    margin-left: 6%;
    animation-duration: 2s;
    animation-name: aparecer;
  }
}


/*BEM*/
.contenedorArticulos {
  color: black;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  &__articuloBurger {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 7%;
    color: azure;
    border: 3px dotted;
    border-radius: 20px;
    img {
      width: 256px;
      height: 256px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    p {
      margin-left: 3%;
      font-size: 20px;
    }
  }
}

@for $i from 1 through 6 {
  .contenedorArticulos__articuloBurger:nth-child(#{$i}) {
     @if $i <= 2 {
      border-color: red;
     } @else if $i > 2 and $i <= 4 {
      border-color: rgb(4, 0, 255);
     } @else if $i > 4 {
       border-color: rgb(251, 255, 0);
     }
  }
}


@keyframes aparecer {
  0% {
    opacity: 0;
    background-color: rgba(255, 248, 220, 0);
  }
  100% {
    opacity: 1;
  }
}