#imagenPrincipal {
  width: auto;
  text-align: center;
  border: 3px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#imagenPrincipal img {
  position: relative;
  width: 90%;
  height: 850px;
  border-radius: 10px;
  border: 1px solid rgb(0, 255, 0);
}

#textoPrincipal {
  font-family: "Press Start 2P", cursive;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 255, 0, 0.274);
  border-radius: 5px;
  height: 90px;
  width: 90%;
  position: relative;
  bottom: 37vh;
}

.articulos {
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 88%;
  padding: 10px;
}

.articulos article {
  height: 300px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: azure;
  margin-bottom: 110px;
}

.articulos img {
  border-radius: 5px;
  border: 1px solid rgb(0, 255, 0);
  width: 450px;
  height: 300px;
}

.articuloIzq {
  text-align: left;
}

.articuloIzq img {
  float: left;
  margin-right: 30px;
}

.articuloDer {
  text-align: right;
}

.articuloDer img {
  float: right;
  margin-left: 30px;
}


@media (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #imagenPrincipal {
    height: 25%;
  }

  #imagenPrincipal img {
    height: 25%;
    margin-bottom: 40px;
  }

  #textoPrincipal {
    font-size: 10px;
    height: 80px;
    width: 90%;
    position: absolute;
    top: 180px;
  }

  .articulos img {
    width: 55%;
    height: 250px;
  }

  .articulos p {
    font-size: 17px;
  }
  
}

@media (max-width:600px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #imagenPrincipal {
    height: 25%;
  }

  #imagenPrincipal img {
    height: 25%;
    margin-bottom: 40px;
  }

  #textoPrincipal {
    font-size: 10px;
    height: 80px;
    width: 90%;
    position: absolute;
    top: 100px;
  }

  .articulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .articulos p {
    font-size: 15px;
  }

  .articulos img {
    width: 90%;
    height: 250px;
  }

  .articulos article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .articuloIzq img {
    float: center;
    margin-right: 0px;
  }

  .articuloDer img {
    float: center;
    margin-right: 0px;
  }
  
}