#imagenPrincipal {
  width: auto;  
  text-align: center;  
  border: 3px;
}

#imagenPrincipal img {
  position: relative;
  width: 100%;  
  border-radius: 10px;
  border: 1px solid rgb(0, 255, 0);
}  

#textoPrincipal {
  font-family: 'Press Start 2P', cursive;  
  color: rgb(255, 255, 255);
  background-color: rgba(0, 255, 0, 0.274);
  border-radius: 5px;
  height: 90px;
  position: relative;
  bottom: 37vh;
}

.articulos {
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 88%;
  padding: 10px;
}

.articulos article {
  height: 300px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: azure;
  margin-bottom: 110px;
}

.articulos img {
  border-radius: 5px;
  border: 1px solid rgb(0, 255, 0);
  width: 450px;
  height: 300px;
}

.articuloIzq {
  text-align: left;
}

.articuloIzq img {
  float: left;
  margin-right: 30px;
}

.articuloDer {
  text-align: right;
}

.articuloDer img {
  float: right;
  margin-left: 30px;
}